{% extends "base.html.twig" %}

{% block content %}
	<a href="index.php">Zurück</a><br/>
	<h1>Preise verwalten</h1>
	<input type="submit" value="Preise speichern" name="submit" class="bottom_margin"/>
	<form action="index.php" method="post">
		<div class="bottom_margin"{% if regencyCount % 2 == 0 %} style="margin-bottom: 2.4em;"{% endif %}>
			<table class="leftside right_margin">
				<tr>
					<th>Reagenz</th>
					<th>Preis</th>
				</tr>
				{% for regency in regencies1 %}
					<tr>
						<td>{{ regency.name }}</td>
						<td><input name="price{{ regency.id }}" class="price" type="number" title="Preis eingeben" value="{{ regency.price }}"></td>
					</tr>
				{% endfor %}
			</table>
			<table>
				{% for regency in regencies2 %}
					<tr>
						<td>{{ regency.name }}</td>
						<td><input name="price{{ regency.id }}" class="price" type="number" title="Preis eingeben" value="{{ regency.price }}"></td>
					</tr>
				{% endfor %}
			</table>
		</div>
		<input type="submit" value="Preise speichern" name="submit" class="bottom_margin"/>
	</form>
{% endblock %}
